* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
#app {
  background-color: rgb(241, 241, 241);
}
.container_one {
  /* width: 70vw; */
  height: 400px;
  margin: 0 auto;
}
.relative_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  padding: 3rem;
  margin: 0 auto;
  max-height: 400px;
  width: 100%;
}
.main_img {
  max-height: 300px;
  max-width: 300px;
  background-size: contain;
}

.absolute_container {
  z-index: 99;
  position: absolute;
  max-height: 200px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text_container {
  text-align: center;
}
#innerText {
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 100;
}

.container_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  min-height: 300px;
  margin: 0 auto;
  background-color: rgb(235, 235, 235);
}
.container_two h5 {
  color: rgb(92, 92, 92);
}
.inputer {
  width: 300px;
  height: 50px;
  padding: 15px 25px;
  border: solid 1px rgb(218, 218, 218);
  border-radius: 5px;
  margin-top: 1rem;
}
#current {
  max-width: 40px;
  max-height: 40px;
}
#emo_contain {
  margin-top: 2rem;
}
#emo_contain img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.btn {
  margin-top: 1rem;
  min-width: 250px;
  height: 50px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.save {
  margin-top: 50px;
  background: rgb(59, 156, 232);
  background: linear-gradient(
    180deg,
    rgba(59, 156, 232, 1) 30%,
    rgba(8, 118, 205, 1) 100%
  );
  color: #fff;
}
.save:hover {
  filter: brightness(1.1);
}
.cancel {
  color: rgba(8, 118, 205, 1);
}
